body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #2d3e40;
    color: white;
    background-image: url('background.jpg');
    /* Add your background image path */

    background-position: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d3e40;
    padding: 10px 20px;
}

.navbar span {
    font: bold;

}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;

}

.nav-links a:hover {
    text-decoration: underline;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 250px;
}

.search-bar button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #1353d2;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #224a98;
}



#contact-form {
    background: rgba(0, 0, 0, 0.5);
    margin: 50px 500px;
    padding: 2rem;
    border-radius: 15px;
    border: 2px solid black;
}

#contact-form h1 {
    text-align: center;
    font-size: 3rem;
}

#contact-form input,
textarea {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 4px 0;
    width: 100%;
}

#name,
#email {
    margin-bottom: 1rem;
}

button {
    background-color: #1353d2;
    border: none;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}

button:hover {
    background-color: #224a98;
}

.page {
    max-width: 720px;
    margin: 0 auto;
    padding: 4rem;
}

.page-title {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.content {
    background: rgba(0, 0, 0, 0.5);
    padding: 2rem;
}

ul {
    list-style-type: none;
}

.social {
    display: flex;
    align-items: start;
    margin-top: 4rem;
}

.social li {
    padding-right: 1rem;
}

.team {
    margin-top: 1.5rem;
}

.person-card {
    background: rgba(0, 0, 0, 0.5);
    margin-top: 1.5rem;
    padding: 1rem;
}

.job-title {
    color: gray;
    font-size: 0.9rem;
    margin: 0.25rem 0 0.5rem 0;
}